<template>
  <v-container fluid fill-height class="grey lighten-5">
    <v-row align="start" justify="start" height="100%">
      <download-app
        v-bind:show.sync="downloadDialog"
        :appName="application.packageName"
        :deviceID="device.id"
      ></download-app>
      <v-col cols="1">
        <v-navigation-drawer app color="white" block permanent>
          <v-list-item-content>
            <v-list-item class="d-flex justify-center">
                <v-img src="@/assets/Duriandroid.svg" max-width="200px" max-height="100px"></v-img>
            </v-list-item>
            <v-list-item-title class="display-1 font-weight-bold text-center">Duriandroid</v-list-item-title>
          </v-list-item-content>
          <v-list-item-content>
            <v-list-item-title class="title">Devices</v-list-item-title>
          </v-list-item-content>
          <v-divider></v-divider>
          <v-list>
            <v-list-item
              v-for="dev in devices"
              v-bind:key="dev.id"
              link
              @click="getAllApplications(dev)"
            >
              <v-list-item-icon>
                <!-- <v-icon>{{dev.icon}}</v-icon> -->
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  <v-icon color="green">mdi-android</v-icon>
                  {{dev.id}}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-col>
      <v-col cols="11" v-if="applications.length > 0">
        <v-row class="d-flex justify-center">
          <v-col cols="12">
            <p class="display-1">Frontmost app</p>
          </v-col>
          <v-col cols="4">
            <v-card outlined>
              <v-list-item flat @click.stop="getApp(device.id,front.packageName)" three-line>
                <v-list-item-content>
                  <v-list-item-title class="headline text-wrap">{{front.name}}</v-list-item-title>
                  <v-list-item-subtitle class="text-wrap">{{front.packageName}}</v-list-item-subtitle>
                </v-list-item-content>
                <v-card-actions>
                  <v-btn color="success" fab small @click.stop="selectApp(front.packageName)">
                    <v-icon>mdi-download</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
        <v-divider class="my-5"></v-divider>
        <v-row>
          <v-col cols="12">
            <p class="display-1">Apps</p>
          </v-col>
          <v-col cols="4" v-for="app in applications" v-bind:key="app.packageName">
            <v-card outlined class="flex-wrap align-stretch justify-space-around">
              <v-list-item flat @click.stop="getApp(device.id,app.packageName)" three-line>
                <v-list-item-content>
                  <v-list-item-title class="headline text-wrap">{{app.name}}</v-list-item-title>
                  <v-list-item-subtitle class="text-wrap">{{app.packageName}}</v-list-item-subtitle>
                </v-list-item-content>
                <v-card-actions>
                  <v-btn color="success" fab small @click.stop="selectApp(app.packageName)">
                    <v-icon>mdi-download</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import DownloadApp from "./DownloadApp";
import HelloWorld from "@/components/HelloWorld";
import { getUSBDevices } from "@/api/devices";
import { getAllApplications } from "@/api/applications";

import io from "socket.io-client";

export default {
  name: "Device",

  components: {
    HelloWorld,
    DownloadApp
  },

  data: () => ({
    devices: [],
    device: "",
    applications: [],
    application: "",
    front: "",
    downloadDialog: false,
    devSocket: io("/device", {
      path: "/io",
      transports: ["websocket"]
    })
  }),
  async mounted() {
    this.devSocket.on("add", async dev => {
      const isDiscovered = this.devices.findIndex(
        discoveredDev => discoveredDev === dev
      );
      if (isDiscovered < 0) {
        this.devices = (await getUSBDevices()).data.allDevices;
      }
    });
    this.devSocket.on("remove", async dev => {
      this.devices = (await getUSBDevices()).data.allDevices;
    });
    this.devices = (await getUSBDevices()).data.allDevices;
  },
  methods: {
    async getAllApplications(dev) {
      this.device = dev;
      var res = (await getAllApplications(dev.id)).data;
      this.applications = res.apps;
      this.front = res.front;
    },
    getApp(deviceID, appName) {
      this.$router.push(`/device/${deviceID}/app/${appName}`);
    },
    selectApp(appName) {
      this.downloadDialog = true;
      this.application = this.applications.find(
        app => app.packageName === appName
      );
    }
  }
};
</script>
