<template>
    <v-dialog
    v-model="dialog"
    width="80%"
    >
        <v-card>
            <v-card-title>
                <span class="headline">
                    Download app 
                    <strong>
                        {{appName}}
                    </strong>
                </span> 
            </v-card-title>
            <v-card-text>
                <div class="d-flex justify-center" v-if="loading">
                    <v-progress-circular size="70" width="7" indeterminate color="green"></v-progress-circular>
                </div>
                <v-text-field
                v-else
                label="/absolute/path/to/your/download/directory"
                clearable
                hide-details
                @keyup.enter="downloadApp"
                v-model="path"
                append-outer-icon="mdi-download"
                @click:append-outer="downloadApp"
                >
                </v-text-field>

            </v-card-text>
            <v-card-text class="title text-center" v-if="done">
                <p>
                    App downloaded successfully! 
                </p>
                <p>
                    APK file located at : 
                </p>
                <p>
                    {{donePath}}
                </p>
            </v-card-text>
        </v-card>  
    </v-dialog>
</template>
<script>
import { downloadApplication} from "@/api/applications";
export default {
    name: 'Download',
    props:[
        'appName',
        'deviceID',
        'show'
        
        ],
    data:function()
    {
        return {
            path:'',
            donePath:'',
            done:false,
            loading:false
        }
        // return {
        //     dialog : this.isShow
        // }
    },
    computed:
    {
        dialog:
        {
            get: function()
            {
                return this.show;
            },
            set: function(newVal)
            {
                this.$emit('update:show',false)
            }
        }
    },
    methods:
    {
        async downloadApp()
        {
            this.loading = true;
            this.done = false;
            this.donePath = '';
            try {
                const result = (await downloadApplication(this.deviceID,this.appName,this.path)).data.result;
                this.donePath = result.path;
                this.done = true;
            } catch (error) {
                alert(error.response.data)
            }
            this.loading = false;
            this.path ='';

        }
    }
    }
</script>

<style>

</style>