<template>
    <v-card height="800px" color="#1e1e1e" class="console">
        <v-card-title class="black white--text pa-0 d-flex justify-end">
            <v-btn small icon @click="$emit('close')">
            <v-icon color="red">mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-subtitle class="pa-0 ma-0 mb-5">
            <v-tabs dark v-model="filterBy"
            hide-slider
            background-color="black"
            >
                <v-tab v-for="filter in filterList" :key="filter"> {{filter}} </v-tab>
            </v-tabs>
        </v-card-subtitle>
        <v-card-text>
            <div class="mx-3 d-flex subtitle-1" v-for="(log,idx ) in filteredLog" :key="idx">
                <div style="max-width:7rem;">
                    <p class="white--text" >{{moment(log.timestamp).format('HH:mm:ss')}}</p>
                </div>
                <div
                    v-if="isHookORModify(log.script)"
                    style="min-width:15em;max-width:15em;text-align:right;"
                    class="mr-5 flex-shrink-0 flex-grow-0 text-right white--text"
                >
                    <p class="font-weight-black">{{log._class}}</p>
                    <p v-if="log.hasOwnProperty('method')">
                    at
                    <span class="success--text font-italic font-weight-bold">{{log.method}}()</span>
                    </p>
                    <p v-else-if="log.hasOwnProperty('ctor')">
                    at
                    <span class="success--text font-italic font-weight-bold">constructor</span>
                    </p>
                </div>
                <div v-else
                class="mr-5 flex-shrink-0 flex-grow-0 text-right white--text"
                >

                </div>
                <div class="flex-grow-0 flex-shrink-0 mr-5" style="min-width:7rem; text-align:center;">
                    <p
                    class="font-weight-bold white"
                    v-bind:class="scriptClass(log.script)"
                    >{{log.script}}</p>
                </div>
                <div class="flex-grow-1">
                    <div
                    v-if="log.subject =='message'"
                    style="min-width:10em;color: #76FF03;"
                    class="text--lighten-2"
                    >
                    <template v-if="isHookORModify(log.script)">
                        <div v-if="log.payload.type === 'arg'">
                            <div v-for="(arg,idx) in log.payload.args" :key="idx" class>
                                <span class="teal--text text--lighten-4">{{arg.name}}</span>
                                <p>
                                    <span class="white--text">string :</span>
                                    {{arg.value.string}}
                                </p>
                                <p v-if="arg.value.hasOwnProperty('raw')">
                                    <span class="white--text">raw :</span>
                                    {{arg.value.raw }}
                                </p>
                            </div>
                        </div>
                        <div v-else-if="log.payload.type == 'return'">
                            <p class="teal--text text--lighten-4">{{log.payload.type}}</p>
                            <p v-if="Object(log.payload.return).keys <= 0">None</p>
                            <p>
                            <span class="white--text">string :</span>
                            {{log.payload.return.string}}
                            </p>
                            <p v-if="log.payload.return.hasOwnProperty('raw')">
                            <span class="white--text">raw :</span>
                            {{log.payload.return.raw}}
                            </p>
                        </div>
                    </template>
                    <div v-else>
                        <span class="white--text">
                            {{log.payload}}
                        </span>
                    </div>
                    </div>
                    <div
                    v-else-if="log.subject=='destroyed'"
                    style="min-width:10em;"
                    class="purple--text text--lighten-2"
                    >
                        Script is destroyed
                    </div>
                    <div
                    v-else-if="log.subject=='error'"
                    style="min-width:10em;"
                    class="red--text"
                    >
                        {{log.description}}
                    </div>
                </div>
            </div>
        </v-card-text>
        <v-divider color="white"></v-divider>
        <v-footer color="#1e1e1e" class="white--text">
            <slot name="console-user">
                <span>#</span>
            </slot>
            <v-btn @click="$emit('clear',filterList[filterBy])" class="mx-2 pa-0" rounded color="pink" dark>clear</v-btn> 
            <v-btn v-if="filterList[filterBy] !== 'all'" :disabled="!systemScripts.includes(filterList[filterBy])" @click="$emit('unload',filterList[filterBy])" class="mx-2 pa-0" rounded color="purple" dark>unload</v-btn> 
        </v-footer>
    </v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
    props:['logs','systemScripts'],
    data:()=>({
        filterBy: 'all',
    }),
    computed:{
        filterList()
        {
            if(this.logs.length > 0)
            {
                return ['all',...new Set(this.logs.map(log=>log.script))]
            }else
            {
                return ['all']
            }
        },
        filteredLog()
        {
            if(this.logs.length > 0)
            {
                let filterBy = this.filterList[this.filterBy];
                if(filterBy === 'all')
                {
                    return this.logs
                }else{
                    return this.logs.filter(log => log.script === filterBy);
                }
            }else{
                return []
            }
        }
    },
    methods:{
        isHookORModify(scriptTag)
        {
            return ['hook_ctor','hook_method','modify_method'].includes(scriptTag);
        },
        scriptClass(script)
        {
            switch (script) {
                case 'hook_method':
                    return {'info':true};
                    break;
                case 'hook_ctor':
                    return {'green':true};
                    break;
                case 'modify_method':
                    return {'purple lighten-2':true};
                    break;
                case 'killssl_full':
                    return {'red lighten-1':true};
                    break;
                case 'root_bypass':
                    return {'teal lighten-2':true};
                    break;
            
                default:
                    return {'white':true};
                    break;
            }
        }
    }
}
</script>

<style scoped>
.v-tab--active{
    background-color: rgb(30,30,30);
    color: white;
    border-radius: 15px 15px 0px 0px !important;
}
.v-tab:not(.v-tab--active){
    background-color: rgb(10,10,10);
    color: grey;
    border-radius: 15px 15px 0px 0px !important;
}
</style>