<template>
  <div>
    <v-tooltip right v-if="!isModifyHook">
      <template v-slot:activator="{on}">
        <v-btn v-on="on" @click.stop="handleClickModifyReturn" x-small icon>
          <v-icon color="info">mdi-pencil</v-icon>
        </v-btn>
      </template>
      <span>Modify method</span>
    </v-tooltip>
    <v-tooltip right v-else>
      <template v-slot:activator="{on}">
        <v-btn v-on="on" @click.stop="unhookModifyMethod" x-small icon>
          <v-icon color="red">mdi-pencil-off</v-icon>
        </v-btn>
      </template>
      <span>Unhook script</span>
    </v-tooltip>
    <v-dialog v-model="modifyMethodDialog" width="800px" @click:outside="modifyMethodDialog=false">
      <v-card>
        <v-card-title class="blue darken-3 headline white--text">{{method.name}}</v-card-title>
        <v-card-subtitle
          class="blue darken-3 subtitle-1 white--text font-weight-regular"
        >Modify method</v-card-subtitle>
        <v-card-text class="title">
            Parameters
        </v-card-text>
        <v-card-text class="subtitle-1">
          Modify parameters?
        </v-card-text>
        <v-card-actions v-for="(param,idx) in newParams" :key="param.name" class="ml-3">
          <!-- <v-select :disabled="!isModifyParams" v-model="newParams[idx].type" :items="availableType" label="parameter type" outlined></!-->
          <v-row >
            <v-col>
              <v-checkbox v-model="param.isModify">
              </v-checkbox>
            </v-col>
            <v-col>
              <p class="title pa-0 ma-0">{{param.type}}</p>
              <!-- <v-text-field disabled="true" label="param type" outlined :value="param.type"></!--> 
            </v-col>
            <v-col cols="6">
              <v-text-field :disabled="!param.isModify" label="new value" v-model="newParams[idx].value" outlined></v-text-field>
            </v-col>
          </v-row>
        </v-card-actions>
        <v-divider></v-divider>
        <v-card-text class="title">
            Return value
        </v-card-text>
        <v-card-actions class="ml-3">
          <v-checkbox v-model="isModifyReturn" label="Modify return value?">
          </v-checkbox>
        </v-card-actions>
        <v-card-actions class="mt-3 ml-3" >
          <v-row>
            <v-col cols="6">
              <v-select :disabled="!isModifyReturn" v-model="newReturn.type" :items="availableType" outlined label="return type"></v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field :disabled="!isModifyReturn" label="input value" v-model="newReturn.value" outlined></v-text-field>
            </v-col>
          </v-row>
        </v-card-actions>
        <v-card-actions class="d-flex justify-center">
          <v-btn icon @click="onModifyMethod" x-large>
            <v-icon color="success">mdi-check</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions,mapGetters } from "vuex";
import { MODIFY_METHOD, UNHOOK_MODIFY } from '../../store/application/action-types';
export default {
  data: () => ({
    modifyMethodDialog: false,
    isModifyReturn:false,
    availableType: [
      "default",
      "int",
      "boolean",
      "long",
      "char",
      "short",
      // 'byte',
      "double",
      "void"
    ],
    newParams: [
      {
        name: "arg0",
        type: "int",
        value: "0"
      }
    ],
    newReturn: {
      type: "int",
      value: "0"
    },
  }),
  props: ["className","method","isModifyHook"],
  mounted() {
    this.newParams = this.method.params.map(param => ({
      name: param.name,
      type: param.type,
      isModify:false,
      value: 0
    }));
  },
  methods: {
    ...mapActions({
      modifyMethod : MODIFY_METHOD,
      unhookModify:UNHOOK_MODIFY
    }),
    handleClickModifyReturn() {
      this.modifyMethodDialog = true;
    },
    async unhookModifyMethod()
    {
      await this.unhookModify({
        _class:this.className,
        targetFullname:this.method.fullname
      })
    },
    async onModifyMethod()
    {
      let isModifyParams = (this.newParams.findIndex(param=>{
        return param.isModify == true
        })) > -1;
        console.log(isModifyParams);
        
      if(!isModifyParams && !this.isModifyReturn)
      {
        this.modifyMethodDialog = false;
        return;
      }
      var payload = {
          _class:this.className,
          targetMethod:this.method.name,
          isModifyParams:isModifyParams,
          newParams :this.method.params,
          isModifyReturn:this.isModifyReturn,
          newReturnType:this.method.returnType,
          newReturnVal:null,
          targetFullname:this.method.fullname
      }
        if(isModifyParams)
        {
          payload.newParams = this.newParams;
          console.log(this.newParams);
          
        }
        if(this.isModifyReturn)
        {
          payload.newReturnType = this.newReturn.type;
          payload.newReturnVal = this.newReturn.value;
        }

        await this.modifyMethod(payload)
        this.modifyMethodDialog = false;
    },
  }
};
</script>

<style>
</style>