<template>
  <v-container fluid>
    <v-toolbar>
      <v-btn @click="$router.push({name:'Index'})" icon>
        <v-icon color="info">mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn v-if="isAppRun" @click="resumeApp" outlined small color="success">
        <v-icon color="success">mdi-play</v-icon>
      </v-btn>
      <v-btn @click="closeApp" outlined small color="red">
        <v-icon color="red">mdi-close</v-icon>
      </v-btn>
      <v-badge color="red" overlap :content="unreadCount" :value="unreadCount > 0">
        <v-btn @click="toggleConsole(true)" color="#1e1e1e" class="pa-0 ma-0" small depressed>
          <v-icon color="white">mdi-console-line</v-icon>
        </v-btn>
      </v-badge>
    </v-toolbar>
    <v-card>
      <v-card-title>
        <h1>{{app && app.name }}</h1>
        <!-- <v-btn
                fab
                color="success"
                @click="downloadApp"
                >
                <v-icon>
                    mdi-download
                </v-icon>
        </v-btn>-->
      </v-card-title>
      <v-spacer></v-spacer>
      <v-card-subtitle>
        <h1>
          {{`${app.packageName} (pid : ${app.pid})`}}
        </h1>
      </v-card-subtitle>
      <div v-if="isReady">
        <v-tabs grow>
          <v-tab v-for="tab in tabs" :key="tab" link :to="{name:tab}">{{tab}}</v-tab>
        </v-tabs>
        <router-view></router-view>
      </div>
    </v-card>
    <!-- TODO: Make hooks management dialog -->
    <!-- TODO:Filter message by type,issuer -->
    <v-dialog v-model="showConsole" width="80%" scrollable id="scroller">
      <console
        @close="showConsole=false"
        :logs="logs"
        :systemScripts="systemScripts"
        @clear="onClearLog"
        @unload="onUnload"
      >
        <template v-slot:console-user>
          <span>({{device.name}}) #</span>
        </template>
      </console>
    </v-dialog>
    <startup-dialog :show.sync="startupDialog" @startApp="onStartApp"></startup-dialog>
  </v-container>
</template>
<script>
import { mapMutations, mapActions, mapGetters } from "vuex";
import StartupDialog from "./StartupDialog";
import {
  GET_SOCKET,
  GET_APP,
  LOGS,
  UNREAD_COUNT,
  SYSTEM_SCRIPTS
} from "@/store/application/getter-types";
import {
  STORE_SOCKET,
  STORE_APP,
  ADD_LOG,
  CLEAR_LOG,
  OPEN_CONSOLE,
  CLOSE_CONSOLE,
  CLEAR_LOG_BY_SCRIPT_TAG
} from "@/store/application/mutation-types";

import { getUSBDevices } from "@/api/devices";
import { launchApplication, terminateApplication } from "@/api/applications";
import Console from "@/components/Console";
import io from "socket.io-client";
import {
  UNLOAD_SYSTEM_SCRIPT,
  FETCH_SYSTEM_SCRIPTS
} from "../../store/application/action-types";

export default {
  name: "App",
  components: {
    console: Console,
    "startup-dialog": StartupDialog
  },
  data: () => ({
    appPackageName: null,
    device: null,
    tabs: ["Info", "Class", "File", "CodeRunner", "Logcat"],
    isReady: false,
    showConsole: false,
    startupDialog: true,
    isAppRun: false
  }),
  computed: {
    ...mapGetters({
      socket: GET_SOCKET,
      app: GET_APP,
      logs: LOGS,
      unreadCount: UNREAD_COUNT,
      systemScripts: SYSTEM_SCRIPTS
    })
  },
  async mounted() {
    this.device = (await getUSBDevices()).data.allDevices.find(
      dev => dev.id === this.$route.params.deviceID
    );
    // this.createSocket();
    // this.application = await this.getApplication(this.$route.params.appName);
  },
  async beforeRouteUpdate(to, from, next) {
    if (!this.socket) await new Promise(resolve => setTimeout((resolve, 200)));
    next();
  },
  beforeDestroy() {
    if (this.socket) this.socket.call("detach");
  },
  methods: {
    ...mapMutations({
      storeSocket: STORE_SOCKET,
      storeApp: STORE_APP,
      addLog: ADD_LOG,
      clearLog: CLEAR_LOG,
      clearLogByTag: CLEAR_LOG_BY_SCRIPT_TAG,
      openConsole: OPEN_CONSOLE,
      closeConsole: CLOSE_CONSOLE
    }),
    ...mapActions({
      fetchSystemScripts: FETCH_SYSTEM_SCRIPTS,
      unloadSystemScript: UNLOAD_SYSTEM_SCRIPT
    }),
    async onStartApp({ isBypassRoot, isKillSSL, isRunCustomScript, script }) {
      // console.log(isBypassRoot, isKillSSL, isRunCustomScript);

      this.createSocket();
      await new Promise(resolve => setTimeout(resolve, 2000));

      if (isBypassRoot) await this.socket.call("bypassRoot");
      if (isKillSSL) await this.socket.call("killSSL");
      if (isRunCustomScript) {
        console.log(script);

        await this.socket.call("runScript", script.name, script.content);
      }
      await this.fetchSystemScripts();
    },
    createSocket() {
      let { deviceID, appName } = this.$route.params;

      const socket = io("/client", {
        path: "/io",
        query: {
          device: deviceID,
          appPackagename: appName
        },
        transports: ["websocket"]
      });
      this.storeSocket(socket);
      this.socket
        .on("ready", async () => {
          this.isReady = true;
          await this.getApplication();
        })
        .on("console", this.addLog);
    },
    async getApplication() {
      let { deviceID, appName } = this.$route.params;
      this.application = (
        await launchApplication(this.device.id, appName)
      ).data;
      this.storeApp(this.application);
      return app;
    },
    async downloadApp(appName) {},
    toggleConsole(openState) {
      this.showConsole = openState;
      if (openState) {
        this.openConsole();
      } else {
        this.closeConsole();
      }
    },
    onClearLog(script) {
      if (script === "all") {
        this.clearLog();
      } else {
        this.clearLogByTag(script);
      }
    },
    async onUnload(script) {
      await this.unloadSystemScript(script);
      await this.fetchSystemScripts();
    },
    async closeApp() {
      await terminateApplication(this.device.id, this.app.packageName);
      this.$router.push({ name: "Index" });
    }
  }
};
</script>

<style>
.console {
  font-family: monospace;
}
.console-issuer {
  flex-wrap: wrap;
}
</style>