<template>
  <v-container fluid>
      <v-card-title primary-title>
        Loaded Class list
        <div style="position:absolute;right:20px;">
            <span class="subtitle-1 grey--text">
                reload classes
            </span>
            <v-btn @click="refreshClass" :loading="refreshing"  right icon large color="info">
                <v-icon>
                    mdi-refresh
                </v-icon>
            </v-btn>
        </div>
      </v-card-title>
      <v-overlay :value="loading">
        <v-progress-circular size="70" width="7" indeterminate color="yellow">
        </v-progress-circular>
      </v-overlay>
      <v-card-text>
        <v-row justify="center">
          <v-dialog v-model="dialog" width="80%" scrollable @click:outside="setClassDefault" >
            <v-card flat>
              <v-card-title  class="blue darken-3" >
                <span class="white--text">{{selectedClass.name}}</span>
              </v-card-title>
              <v-card-text style="height:900px;" class="pa-2 da-0 d-flex">
                <v-card flat width="100%">
                  <v-card-text >
                    <!-- Fields :  -->
                    <v-list subheader>
                      <v-subheader>Fields</v-subheader>
                      <v-list-item-group
                      v-if="selectedClass.fields.length > 0"
                      >
                        <v-list-item
                        v-for="field in selectedClass.fields"
                        :key="field.id"
                        @click="select(field)"
                        >
                          <v-list-item-content>
                            <v-list-item-title>
                              {{field.modifier}} {{field.name}}
                              </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list-item-group>
                    <v-icon v-else>mdi-minus</v-icon>
                    <v-divider></v-divider>
                    <v-subheader>Constructors</v-subheader>
                    <v-list-item-group
                    v-if="selectedClass.constructors.length > 0"
                    >
                      <v-list-item
                      v-for="constructor in selectedClass.constructors"
                      :key="constructor.id"
                      @click="select(constructor)"
                      >
                        <v-list-item-content>
                          <v-list-item-title>
                            {{constructor.name}}
                            (
                              <v-tooltip top
                              v-for="param in constructor.params"
                              :key="param.id"
                              >
                                <template v-slot:activator="{on}">
                                  <v-chip
                                  v-on="on"
                                  >
                                  <!-- @click.stop="selected=param" -->
                                    {{param.type}}
                                  </v-chip>
                                </template>
                                <span>
                                  {{param.name}}
                                </span>
                              </v-tooltip>
                            )
                          </v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-tooltip v-if="!isHook(selectedClass.name,constructor.fullname)" right>
                                <template  v-slot:activator="{on}">
                                    <v-btn v-on="on" @click.stop="hookTarget(constructor,'ctor')"  icon>
                                        <v-icon  color="blue lighten-1">mdi-hook</v-icon>
                                    </v-btn>
                                </template>
                                <span>Hook</span>
                            </v-tooltip>
                            <v-tooltip v-else right>
                                <template v-slot:activator="{on}">
                                    <v-btn v-on="on" @click.stop="unhookTarget(selectedClass.name,constructor.fullname)" icon>
                                        <v-icon  color="red lighten-1">mdi-hook-off</v-icon>
                                    </v-btn>
                                </template>
                                <span>Unhook</span>
                            </v-tooltip>
                        </v-list-item-action>
                      </v-list-item>
                    </v-list-item-group>
                    <v-divider></v-divider>
                    <v-subheader>Methods</v-subheader>
                    <v-list-item-group
                    v-if="selectedClass.methods.length > 0"
                    >
                      <v-list-item
                      v-for="method in selectedClass.methods"
                      :key="method.id"
                      @click="select(method)"
                      ref="methods"
                      >
                        <v-list-item-content>
                          <v-list-item-title>
                            {{method.name}}
                            (
                              <v-tooltip top
                              v-for="param in method.params"
                              :key="param.id"
                              
                              >
                                <template v-slot:activator="{on}">
                                  <v-chip
                                  v-on="on"
                                  >
                                  <!-- @click.stop="selected=param" -->
                                    {{param.type}}
                                  </v-chip>
                                </template>
                                <span>
                                  {{param.name}}
                                </span>
                              </v-tooltip>
                            )
                          </v-list-item-title>
                          <v-list-item-subtitle>
                            return: {{method.returnType}}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                          <modify-method 
                          :className="selectedClass.name"
                          :method="method" 
                          :isModifyHook="isModifyHook(selectedClass.name,method.fullname)"
                          ></modify-method>
                        </v-list-item-action>
                        <v-list-item-action>
                            <v-tooltip v-if="!isHook(selectedClass.name,method.fullname)" top>
                                <template  v-slot:activator="{on}">
                                    <v-btn v-on="on" @click.stop="hookTarget(method,'method')"  icon>
                                        <v-icon  color="blue lighten-1">mdi-hook</v-icon>
                                    </v-btn>
                                </template>
                                <span>Hook</span>
                            </v-tooltip>
                            <v-tooltip v-else top>
                                <template v-slot:activator="{on}">
                                    <v-btn v-on="on" @click.stop="unhookTarget(selectedClass.name,method.fullname)" icon>
                                        <v-icon  color="red lighten-1">mdi-hook-off</v-icon>
                                    </v-btn>
                                </template>
                                <span>Unhook</span>
                            </v-tooltip>
                        </v-list-item-action>
                      </v-list-item>
                    </v-list-item-group>
                    </v-list>
                  </v-card-text>
                  
                </v-card>
                <v-dialog v-model="selectDialog" width="800px" scrollable @click:outside="setSelectDefault">
                  <v-card
                  flat
                  height="800px"
                  color="white">
                    <v-card-title class="blue darken-3 pb-3">
                      <span class="white--text">{{selected.name}}</span>
                    </v-card-title>
                    <v-card-subtitle class="blue darken-3 pb-3">
                      <span class="white--text">{{selectedClass.name}}</span>
                    </v-card-subtitle>
                    <v-card-text >
                      <v-list two-line>
                        <template v-for="(value,field) in selected">
                          <v-list-item v-if="field !== 'id' && field !== 'params'"  :key="field">
                            <v-list-item-content >
                              <v-list-item-subtitle v-text="field"></v-list-item-subtitle>
                              <v-list-item-title v-text="value"></v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-list-group value="true" v-else-if="field == 'params'" :key="field" no-action>
                            <template v-slot:activator>
                              <v-list-item-subtitle v-text="field"></v-list-item-subtitle>
                            </template>
                            <v-list-item v-for="param in value" :key="param.name">
                              <v-list-item-content>
                                <v-list-item-subtitle v-text="param.name"></v-list-item-subtitle>
                                <v-list-item-title v-text="param.type"></v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-group>
                        </template>
                      </v-list>
                      <!-- <div v-if="field!=='id' && field!=='params'">
                        <p class="title font-weight-bold">
                            {{field}} : 
                        </p>
                        <p class="headline font-weight-regular">
                          {{value}} 
                        </p>
                      </div>
                      <div v-else-if="field=='params' && value.length > 0">
                        <p class="title font-weight-bold" >
                        Parameter(s)
                        </p>
                        <div v-for="param in value" :key="param.name" style="overflow-y:auto;">
                          <p class="title font-weight-regular" :key="param.name">
                            <v-icon>mdi-minus</v-icon><b>{{param.name}}: </b> {{param.type}}
                          </p>
                        </div>
                      </div> -->
                    </v-card-text>
                  </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
            
          </v-dialog>
        </v-row>
      </v-card-text>
      </v-card>
      <v-row>
        <v-col cols="12">
          <v-text-field
          v-model="search"
          @keyup.enter="updateClasses"
          clearable
          hide-details
          label="Search class"
          append-outer-icon="mdi-magnify"
          @click:append-outer="updateClasses"
          >
          </v-text-field>
        </v-col>
        <v-col 
        cols="4"
        v-for="_class in showClasses" :key="_class.name"
        >
          <v-card 
          flat
          hover
          max-width="500px"
          max-height="200px"
          class="text-truncate"
          @click="getClass(_class.name)">
          <v-tooltip top>
            <template v-slot:activator="{on}">
              <span v-on="on">
                {{_class.name}}
              </span>
            </template>
            <span>
              {{_class.name}}
            </span>
          </v-tooltip>
          <v-divider></v-divider>
          </v-card>
        </v-col>
        <!-- <v-col v-for="_class in showClasses" cols=3 :key="_class.name">
          <v-card outline class="flex-wrap align-stretch justify-space-around" @click="getClass(_class.name)">
            <v-card-title>
              {{_class.name}}
            </v-card-title>
          </v-card>
        </v-col> -->
      </v-row>
    <v-pagination 
    :length="pagination.pageLength" 
    v-model="pagination.page"
    total-visible="10"
    circle
    >
    </v-pagination>
  </v-container>
</template>

<script>
import { mapGetters,mapActions } from "vuex";
import { GET_SOCKET, IS_HOOK, IS_MODIFY_HOOK, MODIFY_HOOKS, HOOKS } from '@/store/application/getter-types';
import { HOOK_METHOD, UNHOOK, HOOK_CTOR, UNHOOK_MODIFY } from '../../store/application/action-types';
import ModifyMethod from "@/components/Class/ModifyMethod";
export default {
    name: "Class",
    components:{
      'modify-method' : ModifyMethod
    },
    data: ()=>({
        open:[],
        classes: [],
        filteredClasses: [],
        selectedClass : {
            name:'',
            constructors:[],
            fields:[],
            methods:[]
        },
        selected:{},
        tree:[],
        dialog:false,
        loading:false,
        refreshing:false,
        pagination : {
            page : 1,
            itemPerPage: 100,
            pageLength : 0,
            totalItems : 0

        },
        search:'',
        classHooks:{},
        availableReturnType:[
            'int','boolean','long','char','short',
            // 'byte',
            'double','void'
        ],
        newReturn:{
            type:'int',
            value:'0'
        },
        selectedMethod:{
          name:'',
          returnType:'',
          params:[],
          fullName:''
        },
        selectDialog:false,
    }),
    computed : 
    {
        ...mapGetters({
            socket : GET_SOCKET,
            hooks: HOOKS,
            modifyHooks : MODIFY_HOOKS
        }),

        showClasses: function()
        {
            let pageNum = this.pagination.page;
            let start = (pageNum-1) * this.pagination.itemPerPage;
            let end = start + this.pagination.itemPerPage;
            return this.filteredClasses.slice(start,end);
        }
    },
    async mounted()
    {
        this.loading = true;
        try
        {
            this.classes = await this.socket.call('appClasses');

        }finally{
            this.loading = false;
        }
        this.classes = this.classes.filter(_class => !_class.name.includes("["))
        this.filteredClasses = this.classes;
        this.socket.on('console',(data)=>{
            console.log(data);
        })
    },
    watch:
    {
        filteredClasses(val)
        {
            if(val.length > 0)
            {
                this.pagination.totalItems = val.length;
                this.pagination.pageLength = Math.ceil(this.pagination.totalItems / this.pagination.itemPerPage);
            }
            else
            {
                this.pagination.totalItems = 0;
                this.pagination.pageLength = 1;
            }
            this.pagination.page = 1;
        },
    },

    methods:{
        ...mapActions({
            hookMethod:HOOK_METHOD,
            unhook:UNHOOK,
            hookCtor:HOOK_CTOR,
            unhookModify:UNHOOK_MODIFY
        }),
        isHook(_class, targetFullname) {
          if (this.hooks[_class] && this.hooks[_class][targetFullname]) {
              return this.hooks[_class][targetFullname]
          }
          else {
              return false;
          }
        },
        isModifyHook(_class, targetFullname) {
          if (this.modifyHooks[_class] && this.modifyHooks[_class][targetFullname]) {
              return this.modifyHooks[_class][targetFullname]
          }
          else {
              return false;
          }
        },
        async hookTarget(target,targetType)
        {
            if(targetType==='method')
            {
                await this.hookMethod({
                    _class:this.selectedClass.name,
                    _method:target.name,
                    params:target.params,
                    returnType:target.returnType,
                    methodFullname:target.fullname
                })
            }
            else if(targetType==='ctor')
            {
                await this.hookCtor({
                    _class:this.selectedClass.name,
                    _ctor:target.name,
                    params:target.params,
                    ctorFullname:target.fullname
                })
            }
        },
        async unhookTarget(_class,targetFullname)
        {
            const payload = {
                _class,
                targetFullname
            }
            await this.unhook(payload)
        },
        async getClass(className)
        {
            this.dialog = true;
            var selectedClass =  await this.socket.call('appClass',className);
            this.selectedClass = Object.assign({},selectedClass);
            // this.selectedClass = (await getClass(this.$route.params.deviceID,this.$route.params.appName,className)).data
            var id = 1;
            this.selectedClass.fields.map(field => {
            field['id'] = id++;
            return field;
            })
            
            this.selectedClass.constructors.map(constructor => {
            constructor['id'] = id++;
            if(constructor.params.length > 0)
            {
                constructor.params.map(paramObj => {
                paramObj['id'] = id++;
                })
            }
            });
            this.selectedClass.methods.map(method => {
            method['id'] = id++;
            if(method.params.length > 0)
            {
                method.params.map(paramObj => {
                paramObj['id'] = id++;
                })
            }
            });
        },
        async refreshClass(){
            this.loading = true;
            try
            {
                this.classes = await this.socket.call('appClasses');

            }finally{
                this.loading = false;
            }
            this.classes = this.classes.filter(_class => !_class.name.includes("["))
            this.updateClasses()
        },
        setClassDefault()
        {
            this.selectedClass = Object.assign({},{
              name:'',
              fields:[],
              constructors:[],
              methods:[],
            });
            this.selected = Object.assign({},{});
        },
        select(target){
          this.selected = Object.assign({},target);
          this.selectDialog = true;

        },
        setSelectDefault()
        {
            this.selected = Object.assign({},{name:''});
        },
        updateClasses()
        {
            try 
            {
            this.loading = true;
            var classes;
            if(this.search)
                classes = this.classes.filter(_class=>_class.name.toLowerCase().includes(this.search.toLowerCase()));
            else
                classes = this.classes;
            } finally {
            this.loading = false;
            }
            this.filteredClasses =  classes;
        },
    },
    async beforeDestroy()
    {
        await this.socket.call('dismissClass');
    },
    


}
</script>

<style>

</style>