<template>
    <v-card height="100%" justify="center" class="pa-4">
        <v-card-title primary-title>
            Code runner
        </v-card-title>
        <v-card-actions>
            <v-file-input 
            accept=".js" 
            v-model="file"
            chips
            @change="readText"
            label="Your frida script">
            </v-file-input>
        </v-card-actions>
        <v-row>
            <v-col cols="12">
                <v-card outlined>
                    <v-card-title primary-title>
                        Running code
                    </v-card-title>
                    <v-card-text>
                        <v-chip
                        close
                        dark
                        color="teal"
                        v-for="script in runningScripts" 
                        :key="script">
                            {{script}}
                        </v-chip>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="6" class="d-flex flex-column" >
                <p class="display-1 text--primary pb-0">
                    Your code
                </p>
                <v-card
                height="100%"
                outlined
                >
                    <v-card-text class="py-0">
                        <pre  ref="code" class="code ma-0 pa-0" >
                        </pre>
                    </v-card-text>
                    <v-card-actions class="py-0 pr-5 pb-5">
                        <v-card-text style="height:50px;position:relative;">
                        <div style="position:absolute;top:-16px;right:16px;">
                            <v-btn 
                            fab
                            depressed
                            x-large
                            :disabled="!verifyCode()"
                            id="runBtn"
                            @click="runCode"
                            color="success"
                            >
                                <v-icon>
                                    mdi-play
                                </v-icon>
                            </v-btn>
                            <v-btn 
                            fab
                            depressed
                            x-large
                            :disabled="!verifyCode() || !(runningScripts.includes(file.name))"
                            id="destroyBtn"
                            @click="destroyCode(file.name)"
                            color="red"
                            >
                                <v-icon>
                                    mdi-close
                                </v-icon>
                            </v-btn>

                        </div>

                        </v-card-text>
                    </v-card-actions>

                </v-card>

            </v-col>
            <v-col cols="6" class="py-3 d-flex flex-column">
                <p class="display-1 text--primary pb-0">
                    Result
                </p>
                <v-card
                height="100%"
                width="100%"
                outlined>
                    <v-overlay
                    absolute
                    class="d-flex text-center"
                    :value="isUploading"
                    >
                        <template v-if="isShowProgress"> 
                            <v-progress-circular
                            indeterminate
                            size="70"
                            width="10"
                            color="cyan lighten-3"
                            
                            >
                            </v-progress-circular>
                            <p class="pt-5">
                                Uploading
                            </p>
                            
                        </template>
                        <template v-if="isShowSuccess">
                            <v-btn
                            x-large
                            outlined
                            fab
                            color="success lighten-3"
                            >
                                <v-icon>mdi-check</v-icon>
                            </v-btn>
                            <p class="pt-5 sucess--text text--lighten-3">
                                Upload success!
                            </p>
                        </template>
                    </v-overlay>
                    <v-card-text style="height:100%" class="title">
                        <div class="result pa-2 ma-2">
                            <ol class="flex-column">
                                <li 
                                class="mx-3"
                                v-for="(result,idx) in results" :key="idx"
                                v-bind:class="{'info--text' : result.payload.level=='log','danger--text':result.payload.level=='error'}"
                                >
                                    <p v-for="(arg,arg_idx) in result.payload.args" :key="arg_idx">
                                        {{arg}}
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
            <!-- <v-col class="d-flex flex-column" >
                <p class="display-1 text--primary pb-0">
                    Output
                </p>
                <v-card
                height="100%"
                outlined
                >

                </v-card>
            </v-col> -->
        </v-row>
    </v-card>
</template>

<script>
import * as monaco from 'monaco-editor'
import { mapGetters } from "vuex";
import { GET_SOCKET,GET_APP } from "@/store/application/getter-types";
export default {
    data:()=>({
        file:null,
        fileText:null,
        editor:null,
        isUploading:false,
        isShowProgress:false,
        isShowSuccess:false,
        results:[],
        runningScripts:[],
        scriptSocket:null,
    }),
    created()
    {
        this.$nextTick(() => {
            document.getElementById('runBtn').classList.remove('v-btn--disabled')
        })
    },
    async mounted()
    {
        this.editor = monaco.editor.create(this.$refs.code,
        {
            value: this.fileText,
            language:'javascript',
            theme:'vs-dark',
            readOnly:true,
        })

        let { deviceID,appName} = this.$route.params

        this.socket.on('script',this.handleScriptMessage)

        await this.getRunningScript();
    },
    computed:
    {
        ...mapGetters({
            socket:GET_SOCKET,
            app:GET_APP
        })
    },
    methods:{
        readText()
        {
            if(this.file)
            {
                const reader = new FileReader();
                var text = null;
                reader.onload = e => 
                {
                    this.fileText = e.target.result
                }
                reader.readAsText(this.file);
            }
            // return null;
        },
        verifyCode()
        {
            if(this.fileText)
            {
                //check frida syntax
                return true
            }
            return false;
        },
        handleScriptMessage(msg)
        {
            var {subject,payload,filename,data} = msg;
            if(subject == 'message')
            {
                this.results.push(msg)
            }
            else if(subject == 'destroyed')
            {
                alert('script is destroy : '+filename)
            }
        },
        async getRunningScript()
        {
            try {
                this.runningScripts = [];
                const {scripts} = await this.socket.call('allScripts');
                console.log(scripts);
                this.runningScripts = scripts;
                
            } catch (error) {
                console.error(error);
            }
            
        },
        async runCode()
        {
            console.log('click');
            
            this.results = [];
            try {
                this.isUploading = true;
                this.isShowProgress = true;
                const {filename,type,value} = await this.socket.call('runScript',this.file.name,this.fileText);
                console.log('Script is running','filename',filename,'type',type,'value',value);
                this.isShowProgress = false;
                this.isUploading =  false;
                await this.getRunningScript();
                
            } catch (error) {
                alert(error)
            }
        },
        async destroyCode(fileName)
        {
            this.results = [];
            try {
                const {message,filename} = await this.socket.call('destroyScript',fileName);
                this.file = null;
                this.fileText = '';
                await this.getRunningScript();
                alert(message);
                console.log(message,filename);
                
            } catch (error) {
                alert(error)
            }
        }
    },
    watch:
    {
        fileText(val)
        {
            if(val !== this.editor.getValue())
            {
                this.editor.setValue(val);
                const contentHeight = this.editor.getModel().getLineCount() * 19;
                this.$refs.code.style.height = contentHeight+"px";
                this.editor.layout()
            }
        },
    },
    beforeDestroy()
    {
        this.socket.off('script',this.handleScriptMessage)
        this.socket.call('clearScript')
        this.editor.getModel().dispose()
        this.editor.dispose()
    }
}
</script>

<style scoped>
.code{
    position: relative;
	overflow: hidden;
    width: 100%;
    min-height: 400px;
    max-height: 800px !important;
    resize: vertical;
    object-fit: fill;
}
/* button.v-btn[disabled] */
#runBtn:disabled,#destroyBtn:disabled
{
    background-color: #FFFFFF !important;
}
.result{
    font-family: monospace;
    background-color: #1e1e1e;
    height: 100%;
}
</style>