<template>
  <v-card>
    <v-card-title primary-title>File</v-card-title>
    <v-card-actions>
      <v-switch label="simple view?" inset v-model="isSimpleView"></v-switch>

    </v-card-actions>
    <v-breadcrumbs divider="/" :items="fileBreadCrumb" large>
      <template v-slot:item="props">
        <v-breadcrumbs-item
          href
          @click="goToPath(props.item.path)"
        >{{props.item.text}}</v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr v-if="isSimpleView">
            <th class="text-left">Type</th>
            <th class="text-left">Name</th>
            <th class="text-left">Owner</th>
            <th class="text-left">Size</th>
          </tr>
          <tr v-else>
            <th class="text-left">Type</th>
            <th class="text-left">Permission</th>
            <th class="text-left">Name</th>
            <th class="text-left">Owner</th>
            <th class="text-left">Group</th>
            <th class="text-left">Size</th>
            <th class="text-left">Date</th>
            <th class="text-left">Time</th>
          </tr>
        </thead>
        <tbody>
          
          <tr @click="goBack">
            <td>
              <v-icon>mdi-folder-outline</v-icon>
            </td>
            <td class="title font-italic"> 
              ..
            </td>
          </tr>
          <tr v-if="files.dirs.length <= 0">
            <h1 class="text-center font-italic font-weight-light">Empty</h1>
          </tr>
          <template v-else>
            <tr v-for="file in files.dirs" :key="file.name" @click="file.isDir? goToPath(file.path):openFile(file.path,file.extension)">
              <template v-if="isSimpleView">
                <td>
                  <v-icon v-if="file.isDir">
                    mdi-folder
                  </v-icon>
                  <template v-else>
                    <v-icon v-if="checkIsImage(file.extension)" class="success--text">
                      mdi-file-image
                    </v-icon>
                    <v-icon v-else class="info--text">
                      mdi-file
                    </v-icon>
                  </template>
                </td>
                <td class="font-weight-bold">
                  {{ file.name + ' '+ file.link || file.name}}
                </td>
                <td>
                  {{file.owner}}
                </td>
                <td>
                  {{file.size}}
                </td>

              </template>
              <template v-else>
                <td>
                  <v-icon>
                    {{file.isDir ? 'mdi-folder' : 'mdi-file'}}
                    <!-- {{'mdi-folder'}} -->
                  </v-icon>
                </td>
                <td>
                  {{file.perm}}
                </td>
                <td class="font-weight-bold">
                  {{file.name}}
                </td>
                <td>
                  {{file.owner}}
                </td>
                <td>
                  {{file.group}}
                </td>
                <td>
                  {{file.size}}
                </td>
                <td>
                  {{file.date}}
                </td>
                <td>
                  {{file.time}}
                </td>
              </template>
            </tr>
          </template>
        </tbody>
      </template>
    </v-simple-table>
    <v-card-text>
      <p class="title">
        Preview
      </p>
      <v-card outlined dark>
        <v-card-title primary-title class="white--text pa-0 ma-0" style="background-color:rgba(0,0,0,0.87)">
          {{filePath}}
        </v-card-title>
        <v-card-text class="pa-0 ma-0" >
          <p v-if="isImage" class="display-1 text-center white--text">
            Image previewer is not supported right now
          </p>
          <pre  ref="code" class="code ma-0 pa-0" v-else>
          </pre>

        </v-card-text>
      </v-card>
    </v-card-text>
  </v-card>
</template>

<script>
import * as monaco from 'monaco-editor'
import { mapGetters } from "vuex";
import { getAppData } from "@/api/files";
import { GET_SOCKET, GET_APP } from "@/store/application/getter-types";
export default {
  name: "File",
  data: () => ({
    isSimpleView:true,
    pwd: "",
    appDataPath:'',
    files: {},
    fileBreadCrumb: [],
    selectedPath: "",
    isImage:false,
    filePath:'',
    fileContent:"",
    imgExtension:['.jpg','.jpeg','.png','.gif','.tiff'],
    editor:null
  }),
  computed: {
    ...mapGetters({
      socket: GET_SOCKET,
      app: GET_APP
    })
  },
  methods: {
    checkIsImage(ext)
    {
      let isImg = this.imgExtension.includes(String(ext));
      return isImg;
    },
    async goBack()
    {
      this.pwd = this.fileBreadCrumb[this.fileBreadCrumb.length - 2].path;
      this.files = await this.socket.call('ls',this.pwd);
    },
    async openFile(path,ext)
    {
      this.filePath = path;
      this.fileContent = '';
      if(this.checkIsImage(ext))
      {
        this.isImage = true;
        var content = await this.socket.call('img',path);
        this.fileContent = "Image cannot be previewed"
        monaco.editor.setModelLanguage(this.editor.getModel(),'plaintext');
        
      }else{
        this.isImage = false;
        var content = await this.socket.call('cat',path);
        this.fileContent = String(content);
        
        switch (ext) {
          case '.xml':
            monaco.editor.setModelLanguage(this.editor.getModel(),'xml');
            break;
          case '.java':
            monaco.editor.setModelLanguage(this.editor.getModel(),'java');
            break;
          case '.json':
            monaco.editor.setModelLanguage(this.editor.getModel(),'json');
            break;
          default:
            monaco.editor.setModelLanguage(this.editor.getModel(),'plaintext');
            break;
        }
      }
    },
    async goToPath(path) {
      // let files = (
      //   await goToPath(
      //     this.$route.params.deviceID,
      //     this.$route.params.appName,
      //     path
      //   )
      // ).data;
      this.pwd = path;
      this.files = await this.socket.call('ls',this.pwd);
    }
  },
  async mounted() {
    this.appDataPath =  (await getAppData(this.$route.params.deviceID, this.$route.params.appName)).data
    this.editor = monaco.editor.create(this.$refs.code,
    {
        value: this.fileContent,
        language:'plaintext',
        theme:'vs-dark',
        readOnly:true,
    })
    // this.files = (
    //   await getAppData(this.$route.params.deviceID, this.$route.params.appName)
    // ).data;
    this.files = (await this.socket.call("ls", this.appDataPath));
  },
  watch: {
    files(val) {
      if (val == {}) {
        this.pwd = "";
        this.fileBreadCrumb = [{ text: "", disabled: false, path: "" }];
      } else {
        this.pwd = String(val.pwd);
        let pwdSplit = this.pwd.split("/");
        let pathLength = pwdSplit.length;
        let absolutePath = "";
        this.fileBreadCrumb = pwdSplit.map((dir, index) => {
          absolutePath = absolutePath+dir;
          let breadCrumb = {
            text: index == 0 ? 'root': dir,
            disabled: index == pathLength - 1,
            path: index == 0 ? '/': absolutePath
          };
          absolutePath +='/';
          return breadCrumb;
        });
      }
    },
    fileContent(val)
    {
        if(val !== this.editor.getValue())
        {
            this.editor.setValue(val);
            const contentHeight = this.editor.getModel().getLineCount() * 19;
            this.$refs.code.style.height = contentHeight+"px";
            this.editor.layout()
        }
    },
  }
};
</script>

<style scoped>
.code{
    position: relative;
	  overflow: hidden;
    width: 100%;
    min-height: 400px;
    max-height: 800px !important;
    resize: vertical;
    object-fit: fill;
}
</style>