<template>
    <v-container
    fluid
    >
        <v-card-title primary-title>
            Info
        </v-card-title>
        <v-row v-if="info.version">
            <v-col cols=6>
            package name
            <br>
            <b>
                {{$route.params.appName}}
            </b>
            <br>
            <br>
            version
            <br>
            <b>
                {{info.version}}
            </b>
            <br>
            <br>
                SDK version
            <br>
            min: <b>{{info.SDKVersion.min}}</b>
            <br>
            target: <b>{{info.SDKVersion.target}}</b>
            </v-col>
            <v-col cols=6>
            <h2>
                Permissions
            </h2>
            <template
            v-for="permission in info.permissions"
            >
                <v-chip 
                :key="permission"
                outlined
                color="primary"
                >
                {{permission}}
                </v-chip>
                <br>
            </template>
            </v-col>
        </v-row>
        <v-overlay :value="loading">
            <v-progress-circular size="70" width="7" indeterminate color="yellow"></v-progress-circular>
        </v-overlay>
    </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import { GET_SOCKET } from '@/store/application/getter-types';

export default {
    data : () => ({
        info: {
        permissions:[],
        SDKVersion:{
            min:0,
            target:0
        }
        },
        loading:true
    }),
    async mounted()
    {
        this.loading = true;
        this.info = await this.getAppInfo();
        this.loading = false;
    },
  methods:
  {
    async getAppInfo()
    {
        let tries = 10;
        let interval = 200;
        while(--tries > 0)
        {
            try {
                return await this.socket.call('appInfo')
            } catch (error) {
                console.error(error);
            }
            await new Promise(resolve => setTimeout(resolve,interval));
        }
        throw new Error('Max retry exceed');
    }
  },
  computed:
  {
    ...mapGetters({
      socket:GET_SOCKET
    })
  }
}
</script>

<style>

</style>