<template>
    <div>
        
        <v-card >
            <v-card-title primary-title>
                Application Logs
            </v-card-title>
            <v-card-text>
                <v-switch v-model="isDateShow" inset label="Show datetime">

                </v-switch>
            </v-card-text>
            <v-card max-height="800px" style="overflow:auto;" class="d-flex ma-5 logs title" id="scroller" dark>
                <v-card-text>
                    <div class="flex-column"
                        v-if="logs.length > 0"
                    >
                        <div 
                        class="mx-3 d-flex subtitle-1 "
                        v-for="(log,idx) in logs" :key="idx"
                        v-bind:class="{'cyan--text text--lighten-5' : log.level=='log','red':log.level=='error'}"
                        >
                            <p v-show="isDateShow" style="min-width:10em;" class="my-0 mr-5">
                                ({{log.data.date}})
                                {{log.data.time}}
                            </p>
                            <div style="text-align:right; min-width:15em;" class="mr-5 text-right font-weight-bold">
                                {{idx == 0 || (log.data.issuer != logs[idx-1].data.issuer)?log.data.issuer:''}}
                            </div>
                            <div 
                            style="min-width:1.8em;max-height:1.8em;" 
                            class="mr-5 text-center"
                            v-bind:class="tagColor(log.data.tag)"
                            >
                                {{log.data.tag}}
                            </div>
                            <div class="font-weight-bold">
                                {{log.data.message}}
                            </div>
                            
                            <br>
                        </div>
                        <!-- https://blog.eqrion.net/pin-to-bottom/ -->
                        <div id="anchor"></div>
                    </div>
                </v-card-text>
            </v-card>
        </v-card>
        <!-- <v-dialog max-width="800" persistent v-model="logcatStyleDialog">
            <v-card >
                <v-card-title primary-title class="teal darken-2 white--text">
                    <h2>
                        Logcat style
                    </h2>
                </v-card-title>
                <v-card-text class="headline">
                    Choose your logcat style

                    <v-card dark>
                        <v-card-text class="pa-5 subtitle logs">
                            <v-radio-group v-model="logcatRadioGroup">
                            </v-radio-group>
                            W( 5662) Unexpected CPU variant for X86 using defaults: x86_64  (tg.uncrackable)
                        </v-card-text>
                    </v-card>
                </v-card-text>
            </v-card>
        </v-dialog> -->
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import * as moment from "moment";
import { GET_SOCKET,GET_APP } from "@/store/application/getter-types";
export default {
    data :()=>({
        logs:[],
        logcatStyleDialog:true,
        isDateShow:true,
        logcatRadioGroup:[
            {
                text:'simple',
                example:''
            },
            {
                text:'process',
                example:''
            },
            {
                text:'tag',
                example:''
            },
            {
                text:'threadtime',
                example:''
            },
            {
                text:'time',
                example:''
            }
        ]
    }),
    async mounted()
    {
        //TODO: Send device name
        await this.socket.call('logcat',this.app.packageName);
        this.socket.on('log',this.handleLog)
        this.socket.on('logClose',this.handleLogClose)
    },
    computed:
    {
        ...mapGetters({
            socket:GET_SOCKET,
            app:GET_APP
        })
    },
    methods:
    {
        tagColor(tag)
        {
            switch (tag) {
                case 'S':
                    return 'white black--text'
                    break;
                case 'F':
                    return 'red black--text'
                    break;
                case 'E':
                    return 'red black--text'
                    break;
                case 'W':
                    return 'orange black--text'
                    break;
                case 'I':
                    return 'green black--text'
                    break;
                case 'D':
                    return 'info black--text'
                    break;
                case 'V':
                    return 'black white--text'
                    break;
                default:
                    return 'black white--text'
                    break;
            }
        },
        handleLog(log)
        {
            const {subject,data} = log;
            if(subject === 'message')
            {
                data.forEach(log => {
                    this.logs.push({
                        level:'log',
                        data : {...log}
                    })
                });
            }else if(subject === 'error')
            {
                this.logs.push({
                    level:'error',
                    data
                })
            }
            var scroller = document.getElementById('scroller');
            scroller.scrollTop = scroller.scrollHeight- scroller.clientHeight;
        },
        handleLogClose(code)
        {
            console.log(`logcat close with code ${code}`)
        }
    },
    async beforeDestroy()
    {
        this.socket.off('log',this.handleLog);
        await this.socket.call('stopLogcat')
    },
}
</script>

<style>
.logs{
    font-family: monospace;
    background-color: #1e1e1e;
    height: 100%;
}
#scroller * {
    /* don't allow the children of the scrollable element to be selected as an anchor node */
    overflow-anchor: none;
}

#anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;

    /* anchor nodes are required to have non-zero area */
    height: 1px;
}
</style>