<template>
  <v-dialog v-model="dialog" max-width="600px" persistent>
      <v-card>
          <v-card-title class="headline teal white--text justify-center">
              Start up script
          </v-card-title>
          <v-card-text class="black--text title font-weight-regular">
              <v-checkbox v-model="isBypassRoot" label="Bypass root detection?"></v-checkbox>
              <v-checkbox v-model="isKillSSL" label="Bypass Certificate pinning?"></v-checkbox>
              <v-divider></v-divider>
              <v-checkbox v-model="isRunCustomScript" label="Run custom Frida script?"></v-checkbox>
              <v-file-input :disabled="!isRunCustomScript" outlined accept=".js" v-model="file" chips @change="readText" label="Upload your script"></v-file-input>
          </v-card-text>
          <v-card-actions class="justify-center">
              <v-row class="ma-3">
                  <v-col>
                    <v-btn color="red" dark rounded @click="$router.push({name:'Index'})"  outlined block>
                        <v-icon>mdi-close</v-icon>cancel
                    </v-btn>
                  </v-col>
                  <v-col>
                    <v-btn color="success" dark rounded @click="startApp" outlined block>
                        <v-icon>mdi-play</v-icon>run
                    </v-btn>

                  </v-col>
              </v-row>
          </v-card-actions>
      </v-card>
  </v-dialog>
</template>

<script>
export default {
    props:['show'],
    data:()=>({
        isBypassRoot:true,
        isKillSSL:true,
        isRunCustomScript:false,
        file:null,
        fileText:''
    }),
    computed:{
        dialog:
        {
            get: function()
            {
                return this.show;
            },
            set: function(newVal)
            {
                this.$emit('update:show',false);
            }
        },
    },
    methods:{
        startApp()
        {
            this.dialog = false;
            let data = {
                isBypassRoot : this.isBypassRoot,
                isKillSSL : this.isKillSSL,
                isRunCustomScript : this.isRunCustomScript,
                script: this.isRunCustomScript ? {
                    name : this.file.name,
                    content: this.fileText
                }
                :'',
            }
            this.$emit('startApp',data)
        },
        readText()
        {
            if(this.file)
            {
                const reader = new FileReader();
                var text = null;
                reader.onload = e => 
                {
                    this.fileText = e.target.result
                }
                reader.readAsText(this.file);
            }
        }
    }
}
</script>

<style>

</style>